@import url("./something.css");

body {
  background-color: #feefe5;
  margin: 50px;
  font-size: 18px;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
