/* Reset some default styles for better consistency */
body,
h1,
h2,
p,
a {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  background-color: #feefe5;
  font-size: 18px;
  line-height: 1.5;
  color: #1d3533;
}

a {
  color: #1d3533;
  text-transform: uppercase;
  text-decoration: none;
}

/* Header Styles */
header {
  margin-bottom: 20px;
}

/* Image Styles */
img {
  max-width: 100%;
}

/* Container Styles */
.container {
  margin: 30px 50px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

/* Heading Styles */
h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-top: 30px;
}

/* Special Words Styling */
.fascinating-words {
  font-family: fantasy;
}

/* Logo Styles */
.tree-logo {
  width: 10%;
  height: 10%;
}

/* Centered Items Styles */
.centered-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Bottom Divider Styles */
.bottom-divider {
  border-style: solid none;
}

/* Spaced Items Styles */
.spaced-items {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Footer Links Styles */
.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Footer Copyright Styles */
.footer-copyright i {
  color: #f00;
}

/* Optional: Style the heart icon with animation on hover */
.footer-copyright i:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
